/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
/*     font-family: consolas; */
    
}

body{
    background-color: #ffffffcc;
}

.logo img{
    height: 100px;
}
video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -99;
    top: 0;
    left: 0;

    /* position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1; */
}
/* .bg-video{
    position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
} */
.explore{
    position: relative;
    top: -180px;
    text-align: center;
}
.explore a.boxBtn {
	padding: 15px 35px;
	background: transparent;
	border-radius: 50px;
	color: #e5ff00;
	text-transform: uppercase;
	border: 4px solid #ffff00;
	transition: all .5s;
}
.explore a.boxBtn:hover {
	background: #f2ff00;
	color: #000000;
}

.block{
    position: relative;
    top: -32px;
    width: auto;
    
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
   display: none;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(0, 0, 0);/*11*/
    /* color: rgb(255, 255, 255); */
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}
.navbar .logo a span{
    color: rgb(255, 242, 0);
    transition: all 0.3s ease;
}
.navbar .logo a span1{
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #ffff00;
}
.navbar.sticky .logo a span1{
    color: #ffffff;/*11*/
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar.sticky  .menu li a {
    color: #ffffff;/*11*/
}
.navbar .menu li a:hover{
    color: rgb(255, 251, 0);
    cursor: pointer;
}
.navbar.sticky .menu li a:hover{
    color: #fff200;
    cursor: pointer;
}

/* menu btn styling */
.menu-btn{
    color: #ff0000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* .scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(0, 255, 8);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
} */






#media {
    position: relative;
    display: flex;
    gap: 50px;
}
#media li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;


}
#media  li a
{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s ease-in-out;

}
#media  li:hover
{
    z-index: 100000;
    transform: scale(0.75);
    transform: translateY(-10px);
}
#media  li::before
{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
#media  li:hover::before
{
  inset: 0px;
}
#media  li::after
{
    content: '';
    position: absolute;
    inset: 0;
    background:var(--bg);
    transform: rotate(45deg);
}

@keyframes animatewave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animatewave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


/* responsive media query start */
/* @media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
} */

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
        
    }
    /* .cont .form{
        height: 600px;
    } */
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #616161;
        /* overflow: hidden; */
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
   
}
/* 
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    
}

@media (max-width: 500px) {
    
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
} */





















.gallery{
    position: relative;
  width: 100%;
  height: auto;
  font-size: .95em;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 80px auto 90px 90px; */
  grid-template-areas:
    ". n n n n n n n n n n d"
    "m c c c c c c c c c c a"
    "s c c c c c c c c c c a"
    "s . . . . . . . . . . b";
}

.container{
    height: 100vh;
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 20px;
    grid-auto-flow: dense;
    overflow: auto;
    padding-right: 20px;  /*fix box-shadow on right side cutting off*/
  }
  /*scrollbar stuff*/
  .container {
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox
  }
  .container::-webkit-scrollbar { 
      display: none;  // Safari and Chrome
  }
  .container>div{
    bottom: 20px;
    z-index: 1;
    position: relative;
    padding: 0;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2), 
                5px 5px 25px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
  }
  .container div img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all .6s ease-in-out;
  }
  .container>div, .container div img{
  /*   transition: all .6s ease-in-out; */
  }
  /*make bIG*/
  .container>div:hover, .container>div:hover img{
    transform: scale(1.05);
  }
  .container>div:hover img{
  /*   transform: scale(1.06); */
  }
  .card{
    padding: 0 !important;
    width: 100%;
    height: 50%;
    bottom: -50%;
    padding: 1em !important;
    box-sizing: border-box;
    background: rgba(255,255,255,.5);
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  /*   transform: rotate(-90deg) translateX(-100%); */
  /*   transform-origin: 0% 0%; */
  }
  .vertical{
    grid-row: span 2;
  }
  .horizontal{
    grid-column: span 2;
  }
  .horizontala{
    grid-column: span 3;
  }
  .big{
    grid-row: span 2;
    grid-column: span 2;
  }


  /* ** */
.map{

height: 450px;
width: auto;
background-color: rgb(255, 255, 255);
/* place-content: center; */
place-items: center;
align-items: center;
text-align: center;
  }

  /* .google-map {
    height: 450px;
    width: 80%;
    padding-bottom: 50%;
    position: relative;
  } */
  
  /* .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  } */

/* contact button style */

  .whatsapp {
    margin: 5px;
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0,255,0);
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    color: rgb(0,255,0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .whatsapp span {
    margin: 10px;
  }
  
  .whatsapp::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .whatsapp:hover {
    color: #fff;
    border: 1px solid rgb(0,255,0);
  }
  
  .whatsapp:hover::before {
    box-shadow: inset 0 0 0 10em rgb(0, 255, 0);
  }


  .phone-call {
    margin: 5px;
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0,0,255);
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    color: rgb(0,0,255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .phone-call span {
    margin: 10px;
  }
  
  .phone-call::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .phone-call:hover {
    color: #fff;
    border: 1px solid rgb(0,0,255);
  }
  
  .phone-call:hover::before {
    box-shadow: inset 0 0 0 10em rgb(0, 0, 255);
  }
  

  .direction {
    margin: 5px;
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #FF0072;
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    color: #FF0072;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .direction span {
    margin: 10px;
  }
  
  .direction::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .direction:hover {
    color: #fff;
    border: 1px solid #FF0072;
  }
  
  .direction:hover::before {
    box-shadow: inset 0 0 0 10em #FF0072;
  }

  /* ------------------------------- */
  /* form input design */
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 90%; /*type width*/
    /* max-width: 190px; */
    margin: 10px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgb(246, 255, 0);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(231, 231, 35, 0.288);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    height:1rem;
    width:1rem;
    
   }
   
   
   
   
   
   
   
   
   
   
   
   .book-us{
    height: 10%;
width: 100%;   }

  /* --------------------------- */
.cont{
    /* position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    height: 50vh;
    width: 60%;
    margin: 2% 20% 0 20%;
    display: flex;
    place-content: center;
    /* background-image: url("https://i.pinimg.com/736x/b2/fb/21/b2fb21f206c56acc2007ed7e587d9770.jpg"); */
    /* background-color: deeppink; */
}

.cont .ccard{
    position: relative;
    /* max-width: 450px; */
    width: 100%;
    /* background-color: blue; */
     /* margin: 0 10% 0 10%; */
    /*padding: 15px; */
    display: flex;
    place-content: center;
    /* background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;     */
    margin: 10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.cont .ccard .cbutton{
    /* max-width: 150px;
    flex: 0 0 150px; */
    width: 40%;
    display: grid;
   place-items: center;
   /* grid-gap: 10px; */
   margin:10% 0 10% 0;
    /* background-color: lightblue; */
}

.cont .ccard .cbutton .contact-whatsapp{
    max-width: 100%;
}

.cont .ccard .form{
   border: solid 1px black;
    width: 90%;
    /* background-color: brown; */
    /* display: inline; */
    display: grid;
   place-items: center;
}
/* 768 */
@media (max-width: 960px){
    .cont{
        /* margin: 0 10% 0 10%; */
        /* display: flex;
        align-items: center;
        padding-top: 10px; */ /*1122*/
        
            margin: 100px 10% 0 10%;
            display: flex;
            align-items: center;
            padding-top: 10px;
            width: 80%;
        
    }
    .cont .ccard{
        flex-direction: column;
        /* max-width: 350px; */
        display: flex;
        align-items: center;
        width: 100%;
    }

    .cont .ccard .cbutton{
        width: 100%;
    }
    .cont .ccard .form{
        margin: 0;
        width: 100%;
    }
} 



.branding{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  background-color: #ff0000;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  /* z-index: 2; */
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}



















